.banner {
	background:{
		color: Crimson;
	}
	.site-nav {
		z-index: 10;
		ul {
			li {
				display: inline-block;
				list-style-type: none;
				a {
					display: block;
					background: {
						color: transparent;
					}
					color: white;
					line-height: 1;
					padding: 1em;
					&:hover, &:active {
						color: White;
					}
					&:hover {
						background: {
							color: adjust_hue(darken(Crimson, 10), 360);
						}
					}
					&:active {
						background: {
							color: adjust_hue(darken(Crimson, 20), 360);
						}
					}					
					&:visited { 
						// color:purple;
					}										
				}
			}
		}
	}
	h1 {
		color: white;
	}
}