.article {
	.section {
		a {
			color: White;
			text-decoration: none;
		}
		color: White;
		background: {
			color: adjust_hue(darken(rgba(0, 119, 234, 0.8), 20), 0);
		}
	}
}
.wrap {
	z-index: 10;
	position: relative;
	overflow: hidden;
	.main {
		@include transition;
		background: {
			color: adjust_hue(darken(rgba(0, 119, 234, 0.8), 10), 360);
		}		
		float: left;
		width: 100%;
		@media (min-width: 48em) {
			width: 70%;
		}
		.breadcrumb-nav {
			ul {
				li {
					display: inline-block;
					list-style: {
						position: inside;
						type: none;
					}
					a {
						padding: 1em;
						display: inline-block;
						&:hover {
							background: {
								color: transparent;
							}
						}
					}
					&:after {
						content: "\203A";
						text: {
							align: center;
						}
						font: {
							size: 1.5em;
						}
						line-height: 1;
						position: relative;
						display: inline-block;
					}
					&:last-child {
						&:after {
							display: none;
						}	
					}							
				}
			}
		}		
	}
}