/*!
	#
	#
	#
	#	                                     oooo                                            oooo         o8o                         
	#	                                     `888                                            `888         `"'                         
	#	ooo. .oo.  .oo.    .oooo.   oooo d8b  888  oooo          ooo. .oo.  .oo.    .oooo.    888  oooo  oooo  ooo. .oo.    .oooooooo 
	#	`888P"Y88bP"Y88b  `P  )88b  `888""8P  888 .8P'           `888P"Y88bP"Y88b  `P  )88b   888 .8P'   `888  `888P"Y88b  888' `88b  
	#	 888   888   888   .oP"888   888      888888.    8888888  888   888   888   .oP"888   888888.     888   888   888  888   888  
	#	 888   888   888  d8(  888   888      888 `88b.           888   888   888  d8(  888   888 `88b.   888   888   888  `88bod8P'  
	#	o888o o888o o888o `Y888""8o d888b    o888o o888o         o888o o888o o888o `Y888""8o o888o o888o o888o o888o o888o `8oooooo.  
	#	                                                                                                                   d"     YD  
	#	                                                                                                                   "Y88888P'
	#	- made with love and care, mark-maker Shannon
	#
	#
*/
/*!
	http://bem.info/method/
	General terms for modular project organization:
		- Block -
			A visual and functional component of the interface. For example, a menu, header, or button.
		- Element -
			Part of a block that performs a particular function. It only exists within the block and does not have any use on its own.
		- Modifier -
			A property of a block or element that changes its appearance or behavior. For example, color, size, and state.
*/
// Normalize - makes browsers render all elements more consistently and in line with modern standards. It precisely targets only the styles that need normalizing.
	@import
	url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css);
// Google web fonts
	$font-google:	'http://fonts.googleapis.com/css?family=';
	$type-headings:	'Crimson Text', serif;
	$type-body:		'Montserrat', sans-serif;
	@import
	url(#{$font-google}Crimson+Text:400,600,600italic,700,700italic|Montserrat:400,700);
// Colors
	$primary:	#E32636;
	$secondary:	#2594e3;
	$tertiary:	#000000;
	$site-bg:	#F8F8FF;
// Mixins
	@mixin font-smooth {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@mixin transition {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;  
	}	
// General
	body {
		@include font-smooth;	
		background: {
			color: $site-bg;
		}
		// Shorthand - font: font-style font-variant font-weight font-size/line-height font-family;
		font: normal normal 400 1em/1.45 $type-body;	
		text: {
			decoration: none;
			rendering: optimizeSpeed;
		}
		@media (min-width: 48em) {
			text: {
				rendering: optimizeLegibility;
			}
		}		
		*, *:before, *:after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}		
		h1, h2, h3, h4 {
			margin: 0.4em 0;
			font: normal normal 600 1em/1.2 $type-headings;
		}
		h1 {
			margin-top: 0;
			font-size: 5.063em;
		}
		h2 {
			font-size: 3.375em;
		}
		h3 {
			font-size: 2.25em;
		}
		h4 {
			font-size: 1.5em;
		}	
		p {
			margin: 0;
			+p {
				margin: 0;
				text-indent: 1em;
			}
		}
		small, .font_small {
			font: {
				size: 0.667em;
			}
		}
		* {
			ul, ol {
				margin: 0; padding: 0;
			}
			img[src*=svg] {
				width: 100%;
			}			
		}	
	}
	.bgvid {
		position: fixed;
		right: 0;
		bottom: 0;
		z-index: -100;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background: url(http://demosthenes.info/assets/images/polina.jpg) no-repeat;
		background-size: cover;
	}	
// Grid ranges (Bootstrap - http://getbootstrap.com/css/#grid)
	//	#	Mobile
	//	None - Should be mobile first

	//	#	Small devices (tablets, 768px and up)
	//	Formula: size in pixels / parent size in pixels
	//	Example: 768px / 16px = 48em
	//	@media (min-width: 48em) { ... }

	//	#	Medium devices (desktops, 992px and up)
	//	Formula: size in pixels / parent size in pixels
	//	Example: 992px / 16px = 62em
	//	@media (min-width: 62em) { ... }

	//	#	Large devices (large desktops, 1200px and up)
	//	Formula: size in pixels / parent size in pixels
	//	Example: 1200px / 16px = 75em
	//	@media (min-width: 75em) { ... }
// Imports
	@import
	'header',
		'main', 'aside',
	'footer';