/*!
	#
	#
	#
	#	                                     oooo                                            oooo         o8o                         
	#	                                     `888                                            `888         `"'                         
	#	ooo. .oo.  .oo.    .oooo.   oooo d8b  888  oooo          ooo. .oo.  .oo.    .oooo.    888  oooo  oooo  ooo. .oo.    .oooooooo 
	#	`888P"Y88bP"Y88b  `P  )88b  `888""8P  888 .8P'           `888P"Y88bP"Y88b  `P  )88b   888 .8P'   `888  `888P"Y88b  888' `88b  
	#	 888   888   888   .oP"888   888      888888.    8888888  888   888   888   .oP"888   888888.     888   888   888  888   888  
	#	 888   888   888  d8(  888   888      888 `88b.           888   888   888  d8(  888   888 `88b.   888   888   888  `88bod8P'  
	#	o888o o888o o888o `Y888""8o d888b    o888o o888o         o888o o888o o888o `Y888""8o o888o o888o o888o o888o o888o `8oooooo.  
	#	                                                                                                                   d"     YD  
	#	                                                                                                                   "Y88888P'
	#	- made with love and care, mark-maker Shannon
	#
	#
*/
/*!
	http://bem.info/method/
	General terms for modular project organization:
		- Block -
			A visual and functional component of the interface. For example, a menu, header, or button.
		- Element -
			Part of a block that performs a particular function. It only exists within the block and does not have any use on its own.
		- Modifier -
			A property of a block or element that changes its appearance or behavior. For example, color, size, and state.
*/
@import url(//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600,600italic,700,700italic|Montserrat:400,700);
/* line 55, ../sass/root.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: ghostwhite;
  font: normal normal 400 1em/1.45 "Montserrat", sans-serif;
  text-decoration: none;
  text-rendering: optimizeSpeed; }
  @media (min-width: 48em) {
    /* line 55, ../sass/root.scss */
    body {
      text-rendering: optimizeLegibility; } }
  /* line 71, ../sass/root.scss */
  body *, body *:before, body *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  /* line 76, ../sass/root.scss */
  body h1, body h2, body h3, body h4 {
    margin: 0.4em 0;
    font: normal normal 600 1em/1.2 "Crimson Text", serif; }
  /* line 80, ../sass/root.scss */
  body h1 {
    margin-top: 0;
    font-size: 5.063em; }
  /* line 84, ../sass/root.scss */
  body h2 {
    font-size: 3.375em; }
  /* line 87, ../sass/root.scss */
  body h3 {
    font-size: 2.25em; }
  /* line 90, ../sass/root.scss */
  body h4 {
    font-size: 1.5em; }
  /* line 93, ../sass/root.scss */
  body p {
    margin: 0; }
    /* line 95, ../sass/root.scss */
    body p + p {
      margin: 0;
      text-indent: 1em; }
  /* line 100, ../sass/root.scss */
  body small, body .font_small {
    font-size: 0.667em; }
  /* line 106, ../sass/root.scss */
  body * ul, body * ol {
    margin: 0;
    padding: 0; }
  /* line 109, ../sass/root.scss */
  body * img[src*=svg] {
    width: 100%; }

/* line 114, ../sass/root.scss */
.bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url(http://demosthenes.info/assets/images/polina.jpg) no-repeat;
  background-size: cover; }

/* line 1, ../sass/_header.scss */
.banner {
  background-color: Crimson; }
  /* line 5, ../sass/_header.scss */
  .banner .site-nav {
    z-index: 10; }
    /* line 8, ../sass/_header.scss */
    .banner .site-nav ul li {
      display: inline-block;
      list-style-type: none; }
      /* line 11, ../sass/_header.scss */
      .banner .site-nav ul li a {
        display: block;
        background-color: transparent;
        color: white;
        line-height: 1;
        padding: 1em; }
        /* line 19, ../sass/_header.scss */
        .banner .site-nav ul li a:hover, .banner .site-nav ul li a:active {
          color: White; }
        /* line 22, ../sass/_header.scss */
        .banner .site-nav ul li a:hover {
          background-color: #ad102f; }
        /* line 27, ../sass/_header.scss */
        .banner .site-nav ul li a:active {
          background-color: #7f0b22; }
  /* line 39, ../sass/_header.scss */
  .banner h1 {
    color: white; }

/* line 2, ../sass/_main.scss */
.article .section {
  color: White;
  background-color: rgba(0, 67, 132, 0.8); }
  /* line 3, ../sass/_main.scss */
  .article .section a {
    color: White;
    text-decoration: none; }

/* line 13, ../sass/_main.scss */
.wrap {
  z-index: 10;
  position: relative;
  overflow: hidden; }
  /* line 17, ../sass/_main.scss */
  .wrap .main {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgba(0, 93, 183, 0.8);
    float: left;
    width: 100%; }
    @media (min-width: 48em) {
      /* line 17, ../sass/_main.scss */
      .wrap .main {
        width: 70%; } }
    /* line 29, ../sass/_main.scss */
    .wrap .main .breadcrumb-nav ul li {
      display: inline-block;
      list-style-position: inside;
      list-style-type: none; }
      /* line 35, ../sass/_main.scss */
      .wrap .main .breadcrumb-nav ul li a {
        padding: 1em;
        display: inline-block; }
        /* line 38, ../sass/_main.scss */
        .wrap .main .breadcrumb-nav ul li a:hover {
          background-color: transparent; }
      /* line 44, ../sass/_main.scss */
      .wrap .main .breadcrumb-nav ul li:after {
        content: "\203A";
        text-align: center;
        font-size: 1.5em;
        line-height: 1;
        position: relative;
        display: inline-block; }
      /* line 57, ../sass/_main.scss */
      .wrap .main .breadcrumb-nav ul li:last-child:after {
        display: none; }

/* line 1, ../sass/_aside.scss */
aside[role="complementary"] {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  float: left;
  width: 100%;
  padding: 0.5em;
  background-color: Coral; }
  @media (min-width: 48em) {
    /* line 1, ../sass/_aside.scss */
    aside[role="complementary"] {
      width: 30%; } }
  /* line 2, ../sass/_form.scss */
  aside[role="complementary"] div[role="radiogroup"] label {
    display: block; }
    /* line 4, ../sass/_form.scss */
    aside[role="complementary"] div[role="radiogroup"] label span {
      min-width: 5em;
      display: inline-block; }
  /* line 10, ../sass/_form.scss */
  aside[role="complementary"] form[role="search"] {
    background-color: transparent;
    overflow: hidden; }

/* line 1, ../sass/_footer.scss */
.footer {
  clear: both;
  background-color: #004d4d; }
